---
import { published, sortPublishedList } from '@blog/utils'
import type { Post } from '#/post'
import BlogPost from '@blog/layouts/BlogPost.astro'
import PagePreviewCard from '@blog/components/PagePreviewCard.astro'
// 用于所有文章界面，主要体现在上一篇跟下一篇的区别上
export async function getStaticPaths() {
    const posts = await sortPublishedList(undefined, true)
    return posts.map((post) => {
        return {
            params: { post: post.slug },
            props: { post },
        }
    })
}

// Destructure to get both `Astro.props.post` and `Astro.props.post.Content`
const {
    post: { Content, _rawString, _images, _head },
    post,
} = Astro.props as { post: Post }
---

<BlogPost {...post} showTree>
    <Content />
    <div class="paging">
        <div class="before">
            {
                post.beforeArticle && (
                    <PagePreviewCard sort article={post.beforeArticle}>
                        上一篇
                    </PagePreviewCard>
                )
            }
            <!-- {
                post.beforeArticle && <div>上一篇：<a href={post.beforeArticle?.url}>{post.beforeArticle?.title}</a></div>
            } -->
        </div>
        <div class="next">
            {
                post.nextArticle && (
                    <PagePreviewCard sort article={post.nextArticle}>
                        下一篇
                    </PagePreviewCard>
                )
            }
            <!-- {
                post.nextArticle && <div>下一篇：<a href={post.nextArticle?.url}>{post.nextArticle?.title}</a></div>
            } -->
        </div>
    </div>
</BlogPost>
