---
import { publishedDict, publishedList } from '@blog/utils'
import { PageSize } from '@blog/config'
import Page from '@blog/layouts/Page.astro'
import Preview from '@blog/components/Preview.astro'
import Pagination from '@blog/components/Pagination.astro'

export async function getStaticPaths() {
    // https://claude.ai/chat/57928701-3f12-42b5-aaef-63448b9a93d4
    // 如何分页
    const cates = await publishedDict()
    const result = []
    for (let i = 0; i < cates.length; i++) {
        const cate = cates[i]
        const allData = await publishedList(cate.children)
        const name = cate.cateActive.split('/').slice(2).join('/')
        result.push({
            params: {
                cate: cate.cateActive.split('/').slice(2).join('/'),
            },
            props: {
                data: allData.slice(0, PageSize),
                count: allData.length,
                curPage: 1,
                url: name,
            },
        })
    }
    return result
}

const { data, url, count, curPage } = Astro.props as {
    url: any
    data: any
    count: number
    curPage: number
}
---

<Page title="分类" description="分类" showTree>
    <div style="padding: 50px;">
        {
            data.map((article) => {
                return <Preview article={article} />
            })
        }
        <Pagination pageSize={PageSize} url={url} curPage={curPage} count={count}></Pagination>
        {
            data.length === 0 && <div style="font-size:25px;text-align:center;color: grey;">没有知识的荒原</div>
        }
    </div>
</Page>
