---
import Page from '@blog/layouts/Page.astro'
import { praseDemo } from '@blog/utils/demo'

const demoes = await praseDemo()

const keys = Object.keys(demoes)
---

<Page title="Demo" description="Demo" showTree>
    <main
        style="position:relative;display:flex;height: 500px;padding-top: 20px;"
        class="demoes"
    >
        <ul
            style="position:static;top:0px;margin-right:15px;margin-bottom:50px;overflow:auto;white-space:nowrap;text-align:right;"
        >
            {
                keys &&
                    keys.map((v, i) => (
                        <>
                            <li style="margin-top:8px;margin-bottom:8px;cursor:pointer;font-size:14px;color:rgb(156, 163, 175);">
                                <label for={`collapsible${i}`} class="label">
                                    <span>{v}</span>
                                </label>
                                <!-- <input
                                    id={`collapsible${i}`}
                                    class="toggle"
                                    style="display:none;"
                                    checked
                                    type="checkbox"
                                /> -->
                                <ul
                                    style="font-size:16px;color:rgb(0, 0, 0);"
                                    class="demo"
                                >
                                    {demoes[v].map((v) => (
                                        <li
                                            data-route={v.route}
                                            data-title={v.title}
                                            class="demo"
                                            title={v.desc}
                                        >
                                            {v.title}
                                        </li>
                                    ))}
                                </ul>
                            </li>
                        </>
                    ))
            }
            <style lang="scss">
                .label {
                    cursor: pointer;
                    user-select: none;
                }
                .toggle + .demo {
                    display: none;
                }
                .toggle:checked + .demo {
                    display: block;
                }
            </style>
        </ul>
        <div
            style="position:relative;margin-bottom:50px;height:500px;width:0px;flex:1 1 0%;border:1px solid rgba(187, 187, 187, 0.637);border-radius: 4px;display:flex;flex-direction: column;"
        >   
            <h1 id="iframe-title" style="padding: .2em .4em;"></h1>
            <iframe
                id="iframeDemo"
                style="width:100%;height: 0;flex-grow: 1;"
                frameborder="0"
            >
            </iframe>
            <div
                style="position:absolute;top:0px;right:0px;bottom:0px;left:0px;background-color:rgb(0, 0, 0, 0.1);color:rgb(255, 255, 255);display:flex;align-items: center;justify-content:center;"
                class="loading"
            >
                暂无展示
            </div>
        </div>
        <script is:raw data-pjax>
            var iframeDemo = document.getElementById('iframeDemo')
            var iframeTitle = document.getElementById('iframe-title')
            var liEl = document.querySelectorAll('.demoes .demo')
            var loadingEl = document.querySelector('.demoes .loading')
            liEl.forEach((li) => {
                li.addEventListener('click', (evt) => {
                    const route = evt.target.dataset.route
                    const title = evt.target.dataset.title
                    if (route) {
                        iframeDemo.src = route
                        iframeTitle.innerText = title
                        history.pushState({}, "", "#"+route);
                        loadingEl.style.display = 'flex'
                        loadingEl.innerHTML = '加载中...'
                        if (iframeDemo.attachEvent) {
                            // IE
                            iframeDemo.attachEvent('onload', function () {
                                loadingEl.style.display = 'none'
                            })
                            iframeDemo.attachEvent('onerror', function () {
                                loadingEl.innerHTML = '加载出错'
                            })
                        } else {
                            // 非IE
                            iframeDemo.onload = function () {
                                loadingEl.style.display = 'none'
                            }
                            iframeDemo.onerror = function () {
                                loadingEl.innerHTML = '加载出错'
                            }
                        }
                    }
                })
                console.log(location.hash.slice(1) , li.dataset.route)
                if(location.hash && decodeURI(location.hash.slice(1)) === li.dataset.route){
                    li.click(); // 模拟点击
                }
            })
        </script>
    </main>
</Page>
