---
import { published, publishedList, sortPublishedList } from '@blog/utils'
import type { Post } from '#/post'
import BlogPost from '@blog/layouts/BlogPost.astro'
import PagePreviewCard from '@blog/components/PagePreviewCard.astro'
import { ESITETYPE, SITE_TYPE } from '@root/src/config'

export async function getStaticPaths() {
    let posts = []
    if (SITE_TYPE === ESITETYPE.BLOG) {
        posts = await sortPublishedList()
    }
    if (SITE_TYPE === ESITETYPE.WIKI) {
        posts = await publishedList(undefined, true)
    }
    return posts.map((post) => {
        return {
            params: { post: post.slug },
            props: { post },
        }
    })
}

// Destructure to get both `Astro.props.post` and `Astro.props.post.Content`
const {
    post: { Content, _rawString, _images, _head },
    post,
} = Astro.props as { post: Post }
---
<BlogPost {...post} showTree>
    <Content />
    <div class="paging">
        <div class="before">
            {
                post.beforeArticle && (
                    <PagePreviewCard article={post.beforeArticle}>
                        上一篇
                    </PagePreviewCard>
                )
            }
            <!-- {
                post.beforeArticle && <div>上一篇：<a href={post.beforeArticle?.url}>{post.beforeArticle?.title}</a></div>
            } -->
        </div>
        <div class="next">
            {
                post.nextArticle && (
                    <PagePreviewCard article={post.nextArticle}>
                        下一篇
                    </PagePreviewCard>
                )
            }
            <!-- {
                post.nextArticle && <div>下一篇：<a href={post.nextArticle?.url}>{post.nextArticle?.title}</a></div>
            } -->
        </div>
    </div>
</BlogPost>
