---
import { Pagination } from "@sarissa/pagination";
const { pageSize, curPage, count, url, base = "cate" } = Astro.props;

const totalPage = Math.ceil(count / pageSize);
const hasBefore = curPage > 1;
const hasNext = curPage < totalPage;
---

<Pagination
  activeButton="pa-active"
  button="pa-button"
  buttonGroup="btn-group"
  disabledButton="btn-disabled"
  outerDiv="pa-wrapper"
  currentPage={curPage}
  totalPage={totalPage}
  url={`${base}${url ? "/" + url : ""}`}
/>
<!-- <div
  style="margin: 20px auto;display: flex; width: 450px;justify-content: space-between;"
>
  <div>
    {
      hasBefore && (
        <a
          href={`/${base}${url ? "/" + url : ""}${
            curPage > 1 ? `/${curPage - 1}` : ""
          }`}
        >
          上一页
        </a>
      )
    }
  </div> -->
<!-- <div>总数：{count}</div> -->
<!-- <div>总页数：{totalPage}</div> -->
<!-- <div>当前页码：{curPage}</div> -->
<!-- {[...Array(totalPage)].map((v, i) => {

    return <div>{ i + 1} </div>
  })}
  <div>{curPage}</div>
  <div>
    {
      hasNext && (
        <a href={`/${base}${url ? "/" + url : ""}/${curPage + 1}`}>下一页</a>
      )
    }
  </div>
</div> -->
