---
const { article } = Astro.props;
---

<div class="article-card">
  <a
    class:list={["posttop__post", !!article.heroImage ? "posttop__image" : ""]}
    href={article.url}
  >
    {
      !!article.heroImage && (
        <div class="posttop__post__cover">
          {article.heroImage &&
            (article.heroImage.includes(".mp4") ? (
              <video src={article.heroImage} autoplay muted loop />
            ) : (
              <img src={article.heroImage} alt="" />
            ))}
          // <img src={article.heroImage} alt="" />
        </div>
      )
    }
    <!-- <div class="posttop__post__cover">
      <img
        src={article.heroImage
          ? article.heroImage
          : "https://picsum.photos/1280/780?random="+Math.random()*10000}
        alt=""
      />
    </div> -->

    <div class="posttop__post__title">{article.title}</div>
    <span style="font-size: 12px;margin-bottom: .1em;position: relative;">
      创建于：{
        new Date(article.pubTimestamp).toLocaleDateString("zh-cn", {
          year: "numeric",
          month: "short",
          day: "numeric",
          hour: "numeric",
          minute: "numeric",
          second: "numeric",
        })
      }
    </span>
    {
      !!article.description && (
        <div class="posttop__post__content">{article.description}</div>
      )
    }
    {
        !article.description && (
          <div class="posttop__post__content" style="color: #bdbdbd;">作者很懒，没有写描述，请看标题脑补！！！</div>
        )
      }
  </a>
</div>