---
import { single, published, getPost } from '@blog/utils';
import type { Post, PostProps } from '#/post';
import { getEditURL, enableRemote } from "@blog/config"
import Base from "./_ui/Base.astro"
import HeadTree from "@blog/components/HeadTree.astro"

export interface extendProps {
	hideSide: boolean
}
export type Props = Partial<PostProps> & extendProps

let { title, description, pubTimestamp, updatedTimestamp, heroImage, _images, filePath, _head, hideSide= false, mode} = getPost(Astro.props as Props) as Props

// if(showArticleHeroImage && _images && !!_images.length){
// 	heroImage = _images[0].url
// }

---
<Base title={title} description={description} hideSide={hideSide}>
		{heroImage && <img class="hero-image" src={heroImage} alt="" />}
		<article class:list={["typo article",mode]}>
                <!-- {filePath && <div style="font-size: .75em;color: #bdbdbd;">{filePath.slice(1).replace(/\//g," > ")}</div>} -->
				<h1 class="title">{title}</h1>
				<div style="line-height: 1.5;">
                    {!!pubTimestamp && <div style="font-size: 0.75em;color: #bdbdbd;"><time>
                        创建于 {new Date(pubTimestamp).toLocaleDateString('zh-cn', {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric',
                            hour: 'numeric',
                            minute: 'numeric',
                            second: 'numeric',
                        })}
                    </time></div>}
                    {!!updatedTimestamp && (
                        <div style="font-size: 0.75em;color: #bdbdbd;">
                            上次修改于 <time>{new Date(updatedTimestamp).toLocaleDateString('zh-cn', {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric',
                            hour: 'numeric',
                            minute: 'numeric',
                            second: 'numeric',
                        })}</time>
                        </div>
                    )}
                </div>
				{enableRemote && filePath && <a href={getEditURL("/article"+filePath)} target="_blank" style="margin: 6px 0;display: inline-block;">在源文件编辑</a>}
				{enableRemote && filePath && <hr>}
				<div class="article__content">
                    <slot />
                </div>
		</article>
        <HeadTree slot="side" head={_head}></HeadTree>
</Base>
