---
import { single, published, getPost } from '@blog/utils';
import type { Post, PostProps } from '#/post';
import { getEditURL, enableRemote, SITE_TYPE, ESITETYPE } from "@blog/config"
import Base from "./_ui/Base.astro"
import HeadTree from "@blog/components/HeadTree.astro"

let isCollect = false
if(Astro.url.pathname.startsWith("/collect")){
    isCollect = true
}


export interface extendProps {
	hideSide: boolean
    hideMenu?: boolean
    showTree?: boolean
}
export type Props = Partial<PostProps> & extendProps

let { title, description, pubTimestamp, updatedTimestamp, heroImage, _images, filePath, _head, hideSide= false, hideMenu = false, mode, showTree} = getPost(Astro.props as Props) as Props

// if(showArticleHeroImage && _images && !!_images.length){
// 	heroImage = _images[0].url
// }

---
<Base title={title} description={description} hideSide={hideSide} hideMenu={hideMenu} showTree={showTree}>
		{heroImage && <img class="hero-image" src={heroImage} alt="" />}
		<article class:list={["typo article",mode]}>
            {SITE_TYPE === ESITETYPE.BLOG && <span style="font-size: .75em;color: #bdbdbd;">
                <a href="/cate">根节点</a><span style="padding: 0 3px;">{'>'}</span></span>}
                {SITE_TYPE === ESITETYPE.BLOG && filePath && (filePath.slice(1).split("/").map((v,i)=>{
                    const array = filePath.slice(1).split("/")
                    const isNotLast = i !== (array.length as any) - 1
                    return <span style="font-size: .75em;color: #bdbdbd;">
                        {isNotLast ? <a href={`/cate/${array.slice(0, i + 1).join("/")}`}>{v}</a>: v}
                        <span style="padding: 0 3px;">{isNotLast?'>':''}</span>
                    </span>
                }))}
                <!-- {filePath && <div style="font-size: .75em;color: #bdbdbd;">{filePath.slice(1).replace(/\//g," > ")}</div>} -->
				<h1 class="title">{title}</h1>
				<div style="line-height: 1.5;">
                    {!!pubTimestamp && <div style="font-size: 0.75em;color: #bdbdbd;"><time>
                        创建于 {new Date(pubTimestamp).toLocaleDateString('zh-cn', {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric',
                            hour: 'numeric',
                            minute: 'numeric',
                            second: 'numeric',
                        })}
                    </time></div>}
                    {!!updatedTimestamp && (
                        <div style="font-size: 0.75em;color: #bdbdbd;">
                            上次修改于 <time>{new Date(updatedTimestamp).toLocaleDateString('zh-cn', {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric',
                            hour: 'numeric',
                            minute: 'numeric',
                            second: 'numeric',
                        })}</time>
                        </div>
                    )}
                </div>
				{enableRemote && filePath && <a href={getEditURL((isCollect?"/collect":"/article")+filePath)} target="_blank" style="margin: 6px 0;display: inline-block;">在源文件编辑</a>}
				{enableRemote && filePath && <hr>}
				<div class="article__content">
                    <slot />
                </div>
		</article>
        <HeadTree slot="side" head={_head}></HeadTree>
</Base>
