---
import { single, published, getPost } from '@blog/utils';
import type { Post, PostProps } from '#/post';
import { getEditURL, enableRemote } from "@blog/config"
import Base from "./_ui/Base.astro"
import HeadTree from "@blog/components/HeadTree.astro"

export interface extendProps {
	filePath: string
	hideSide: boolean
}
export type Props = Partial<PostProps> & extendProps

let { title, description, filePath, _head, heroImage, hideSide = false, mode } = getPost(Astro.props as Props) as Props
---
<Base title={title} description={description} hideSide={hideSide}>
	{heroImage && <img class="hero-image" src={heroImage} alt="" />}
	<article class:list={["typo article",mode]}>
	{enableRemote && filePath && <a href={getEditURL(filePath)} target="_blank" style="margin: 6px 0;display: inline-block;">在源文件编辑</a>}
	{enableRemote && filePath && <hr>}
		<slot />
	</article>
	<HeadTree slot="side" head={_head}></HeadTree>
</Base>
